
body,
html {
    width: 100%;
    height: 100%;
}


.row {
   margin-right: 0px;
   margin-left: 0px;
}

.bodyBackground{
    background: url(../img/intro-bg-2.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.black{
   padding-top: 30px;
   padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
  margin-top: 25%;
  transform: translateY(-50%);
}

* {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.white {
    color: #f8f8f8;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
}





.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}


/* -------------------------- */

.blue {
    color: blue
}

.has-feedback-left input.form-control {
    padding-left: 34px; /* @input-height-base; */
    padding-right: 12px; /* @padding-base-horizontal */
}

.has-feedback-left .form-control-feedback {
    left: 0;
}
.form-horizontal .has-feedback-left .form-control-feedback {
    left: 12px; /* @grid-gutter-width / 2 */
}

.has-feedback-left input.input-sm {
    padding-left: 30px;  
}
.has-feedback-left input.input-lg {
    padding-left: 46px;  
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.marginDivTopcenter{
    position: relative;
  
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
}
