/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/jun/2015, 0:24:59
    Author     : Manuel
*/

.panel-title-forgot{
    float:right; 
    font-size: 80%; 
    position: relative; 
    top:-10px;
}

.panel-body{
    padding-top:30px;
}

.input-group{
    margin-bottom: 25px;
}

.form-group{
    margin-top:10px;
}

.form-group-register{
    border-top: 1px solid#888; 
    padding-top:15px; 
    font-size:85%;
}