.mapRight{

    height: 300px;
    width: 410px;
    border: 10px solid whitesmoke;

}

/* =============== Estilos do autocomplete =============== */
.ui-autocomplete { 
    background: #fff; 
    border-top: 1px solid #ccc;
    cursor: pointer; 
    font: 15px 'Open Sans',Arial;

    width: 280px !important;
    position: fixed;
}

.ui-autocomplete .ui-menu-item { 
    list-style: none outside none;
    padding: 7px 0 9px 10px;
    margin-left: -40px;
}


.ui-autocomplete .ui-menu-item:hover { 
    background: #ff7428;
    margin-left: -40px;
}

.ui-autocomplete .ui-corner-all { 
    color: #666 !important;
    display: block;
}