<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>servlets.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>servlets.RegisterUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/user/registerUser</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>NewOffer</servlet-name>
        <servlet-class>servlets.NewOffer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewOffer</servlet-name>
        <url-pattern>/offer/new</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EditEmailSvl</servlet-name>
        <servlet-class>servlets.EditEmailSvl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditEmailSvl</servlet-name>
        <url-pattern>/editemail</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EditUserPhotoSvl</servlet-name>
        <servlet-class>servlets.EditUserPhotoSvl</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>2097152</max-file-size><!--2 MB -->
            <max-request-size>2621440</max-request-size> <!--2.5 MB -->
            <file-size-threshold>2097152</file-size-threshold> <!--2 MB -->
        </multipart-config>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserPhotoSvl</servlet-name>
        <url-pattern>/edituserphoto</url-pattern>
    </servlet-mapping>
    
    <!-- ************* no pages ************* -->
    <servlet>
        <servlet-name>UserSvlData</servlet-name>
        <servlet-class>servlets.UserSvlData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSvlData</servlet-name>
        <url-pattern>/userdata</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TaskSvlData</servlet-name>
        <servlet-class>servlets.TaskSvlData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskSvlData</servlet-name>
        <url-pattern>/taskdata</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubTaskSvlData</servlet-name>
        <servlet-class>servlets.SubTaskSvlData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubTaskSvlData</servlet-name>
        <url-pattern>/subtaskdata</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MakeWorkSvlData</servlet-name>
        <servlet-class>servlets.MakeWorkSvlData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MakeWorkSvlData</servlet-name>
        <url-pattern>/makework</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EstatisticasSvlData</servlet-name>
        <servlet-class>servlets.EstatisticasSvlData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EstatisticasSvlData</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    
    <filter>
    <filter-name>ORMFilter</filter-name>
            <filter-class>tp_aa.TPAAFilter</filter-class>
            <init-param>
                    <param-name>WrapServletRequest</param-name>
                    <param-value>false</param-value>
            </init-param>
    </filter>
    <filter-mapping>
            <filter-name>ORMFilter</filter-name>
            <url-pattern>/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
